<form action="/user" method="POST">

    <input type="text"
    name="name"
    placeholder="Enter Name">

    <button type="submit">
        Search
    </button>

</form>

<hr>

{% if complaints %}

    {% for complaint in complaints %}

    <div style="
    border:1px solid black;
    padding:10px;
    margin:10px;">

        <h3>Name : {{ complaint[1] }}</h3>

        <p>Phone : {{ complaint[2] }}</p>

        <p>Type : {{ complaint[3] }}</p>

        <p>Location : {{ complaint[4] }}</p>

        <p>Description : {{ complaint[5] }}</p>

        <p>Status : {{ complaint[6] }}</p>

    </div>

    {% endfor %}

{% endif %}